<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sunlei.springmybatis.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sunlei.springmybatis.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="department_code" property="departmentCode"/>
        <result column="department_name" property="departmentName"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="project_no" property="projectNo"/>
    </resultMap>

    <select id="getUserById" resultMap="BaseResultMap">
       select * from user where id = #{id}
    </select>

</mapper>
